{#
    Base blocks
#}

{% block datagrid_container %}
{% spaceless %}
    <table{{ rollerworks_datagrid_attributes(vars.attr|default([])) }}>
        <thead>
        <tr>
            {% for header in columns %}
                {{ rollerworks_datagrid_column_header(header) }}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in rows %}
            <tr{{ rollerworks_datagrid_attributes(vars.attr|default([])) }}>
                {% for cell in row %}
                    {{ rollerworks_datagrid_column_cell(cell) }}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}

{% block column_header %}
{% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
{% spaceless %}
    <th><span>{{ label }}</span></th>
{% endspaceless %}
{% endblock %}

{% block compound_column_header %}
{% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
{% spaceless %}
    <th><span>{{ label }}</span></th>
{% endspaceless %}
{% endblock %}

{% block column_cell %}
{% spaceless %}
<td>
    <div>
        {% endspaceless %}{% if use_raw %}{{ value|raw }}{% else %}{{ value }}{% endif %}{% spaceless %}
    </div>
</td>
{% endspaceless %}
{% endblock %}

{% block compound_column_cell %}
{% spaceless %}
<td>
    {% for subCell in value %}
        {{ rollerworks_datagrid_column_cell(subCell) }}
    {% endfor %}
</td>
{% endspaceless %}
{% endblock %}

{#
    Core extension blocks
#}

{% block action_cell %}
{% set content = vars.content %}
{% if content is empty %}
    {% set content = name|humanize %}
{% endif %}

    {% if vars.compound|default(false) %}
        <a{{ rollerworks_datagrid_attributes(vars.attr|merge({'href' : vars.url})) }}>{{ content|raw }}</a>
    {% else %}
        <td><a{{ rollerworks_datagrid_attributes(vars.attr|merge({'href' : vars.url})) }}>{{ content|raw }}</a></td>
    {% endif %}
{% endblock %}
